doctype html
html
    head
        title Edit User
    body
        form(method="POST", action="/update/" + editUser.uid)
            div(class='inputs')
                div
                    label(for='name') Name:
                    input(id='name', name='name', value=editUser.name)
                div
                    label(for='email') Email Address:
                    input(id='email', name='email', value=editUser.email)
                div
                    label(for='age') Age:
                    input(id='age', name='age', value=editUser.age)
                div
                    input(type='submit', value='Save Changes')