doctype html
html
    head
        title User Manager
        style
            include includes/index.css
    body
        div(class='buttons')
            a(href="/create") Create User
            a(href="/userlist") User List